.personal-data {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width: $breakpoint) {
      gap: 25px;
    }
}

.personal-data__field {
   &--error .personal-data__control {
      border-color: $strawberry-red;      
   }
}

.personal-data__bar {
   display: flex;
   justify-content: space-between;
}

.personal-data__label {
   font-size: 0.75rem;
   font-weight: 500;

   @media screen and (min-width: $breakpoint) {
      font-size: 0.9rem;
   }
}

.personal-data__error {
   font-size: 0.75rem;
   color: $strawberry-red;
   font-weight: 700;

   @media screen and (min-width: $breakpoint) {
      font-size: 0.9rem;
   }
}

.personal-data__control {
   display: block;
   width: 100%;
   margin-top: 2px;
   padding: 10px 15px;
   color: inherit;
   font-size: 0.95rem;
   font-family: inherit;
   font-weight: 500;
   border: 1px solid $light-gray;
   border-radius: 4px;
   transition: 100ms;

   &::placeholder {
      opacity: 0.7;
   }

   @media screen and (min-width: $breakpoint) {
      margin-top: 8px;
      padding: 14px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
         border-color: $marine-blue;
      }
   }
}
